h1{
    text-decoration: underline;
    color: brown;
    text-decoration: overline;
}
h2{
    color:blue
}
body{
   background-color: antiquewhite;
}
title{
    background-color: darksalmon;
}
