
header, footer {
  font-family: 'Lilita One', sans-serif;
  background-color: #9cd4ee;
  color: #230760;
  padding: 20px;
  text-align: center;
}
nav {
  background-color: rgb(234, 227, 227);
}


